.container {
    display: grid;
    height: 100%;
}

.FormContainer {
    background-image: linear-gradient(#437994, #a9cadb);
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 35rem;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,1.0);
    position: relative;
}

.container div {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.container img{
    display: grid;
    margin-bottom: 20px;
    background: cadetblue;
    width: 8rem;
    border-radius: 100%;
    box-shadow: 0 0 60px rgba(0,0,0,0.2);
    
}

.InputUsername {
    width: 20rem;
    height: 2.5rem;
    margin: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 1.2rem;
    text-align: center;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    transition: background 0.5s;
}

.InputPassword {
    width: 20rem;
    height: 2.5rem;
    margin: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 1.2rem;
    text-align: center;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    transition: background 0.5s;
}

.InputUsername:hover {
    border: solid 2px rgb(89, 137, 173);
}


.InputPassword:hover {
    border: solid 2px rgb(89, 137, 173);
}

.InputUsername:focus {
    border: solid 2px rgb(89, 137, 173);
    background: rgb(191, 216, 235);
}

.InputPassword:focus {
    border: solid 2px rgb(89, 137, 173);
    background: rgb(191, 216, 235);
}

.container button{
    width: 20rem; 
    height: 2.5rem;
    margin: 10px; 
    border-radius: 20px;
    border: none; 
    outline: none;
    background: rgb(57, 106, 161);
    color: white;
    font-size: 1.3rem;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    transition: linear 0.2s;

}

.container button:hover {
    filter: brightness(0.9);
}


.container p{
    margin-top: 10px;
}

.container p:last-child{
   position: absolute;
   bottom: 0;
   margin-bottom: 20px;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 32px;
    height: 32px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-top: 30px;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



